<% layout('layouts/boilerplate') -%>

<h1 class="text-center">All Campgrounds</h1>
<a href="/campgrounds/new">Add New</a>
<ul>
    <% for(let campground of campgrounds){ %>
        <li><a href="/campgrounds/<%=campground._id%>"><%=campground.title%></a></li>
    <% } %>
</ul>
