<% layout('layouts/boilerplate') %>

<div class="col-md-6 offset-3">
    <h1 class="text-center">New Campground</h1>
    <form action="/campgrounds" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label> 
            <input type="text" class="form-control" name="campground[title]" id="title" placeholder="title">
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label> 
            <input type="text" class="form-control" name="campground[location]" id="location" placeholder="location">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label> 
            <input type="Number" step="0.01"  class="form-control" name="campground[price]" id="price" placeholder="price">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label> 
            <input type="text" class="form-control" name="campground[image]" id="image" placeholder="image">
        </div>
         <div class="mb-3">
            <label for="description" class="form-label">Description</label> 
            <textarea class="form-control" name="campground[description]" id="" ></textarea>
        </div>
        <div>
            <button class="btn btn-primary mb-3">Submit</button>
        </div>
    </form>
    <a href="/campgrounds">Cancel</a>    
</div>
